html,
body {
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  min-height: 600px;
  min-width: 320px;
}

li a:hover {
  text-decoration: underline !important;
}

.z-toppest {
  z-index: 100;
}

.z-topper {
  z-index: 80;
}

.z-top {
  z-index: 60;
}

.z-middle {
  z-index: 50;
}

.z-low {
  z-index: 40;
}

.z-lower {
  z-index: 20;
}

.z-lowest {
  z-index: 0;
}

.opacity-higher {
  opacity: 0.8;
}

.opacity-mid {
  opacity: 0.5;
}

.opacity-lower {
  opacity: 0.2;
}
