html,
body {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 320px;
}

li a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

header a {
    cursor: pointer;
}

.bg-grey {
    background: #fafafa;
}

.bg-violet {
    background: #673ab7;
}

.bg-indigo {
    background: #3f51b5;
}

.bg-blue {
    background: #2196f3;
}

.bg-green {
    background: #4caf50;
}

.bg-yellow {
    background: #ffeb3b;
}

.bg-orange {
    background: #ff9800;
}

.bg-red {
    background: #f44336;
}

.font-big {
    font-weight: 500;
    font-size: 2.5rem;
}

.font-lead {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5em;
}

.text-underline {
    text-decoration: underline;
    color: #151515 !important;
}

@media (min-width: 1440px) {
    .container-page {
        max-width: 1400px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
