#containerBlock {
    height: 100%;
    width: 100%;
    min-height: 600px;
    font-family: "Source Sans Pro", sans-serif;
}

.topmenu {
    height: 10vh;
}

.contentpage {
    height: 90vh;
}

.h-smaller {
    font-size: 1.2rem;
}

.h-small {
    font-size: 3rem;
}

.h-big {
    font-size: 4rem;
}

.opacity-zero {
    opacity: 0;
}

.opacity-full {
    opacity: 1;
}
