#containerBlock {
    height: 100%;
    width: 100vw;
    min-height: 600px;
    font-family: "Source Sans Pro", sans-serif;
}

.topmenu {
    height: 9vh;
}

.contentpage {
    height: 90vh;
}

.h-smaller {
    font-size: 1.2rem;
}

.h-half {
    font-size: 2rem;
}

.h-small {
    font-size: 3rem;
}

.h-big {
    font-size: 4rem;
}

.opacity-zero {
    opacity: 0;
}

.opacity-half {
    opacity: 0.5;
}

.opacity-full {
    opacity: 1;
}

.main-images {
    height: 13vh;
    width: 100vw;
}

.zindex-lowest {
    z-index: 0;
}

.zindex-lower {
    z-index: 10;
}

.zindex-low {
    z-index: 20;
}

.zindex-top {
    z-index: 25;
}

.zindex-topper {
    z-index: 40;
}

.zindex-toppest {
    z-index: 50;
}

@media (min-width: 992px) {
    .main-images {
        height: 89vh;
        width: 14.25vw;
    }
}
